

/* Add only variables */
/* Background-color */
$bg_main: #333;

$blue_main: #008ed6;


/*  Font-Size */
$base_font_size: 1em;

/*  Line-Height */
$base_line_height: 1.5;
$header_line_height: 1.25;
